<div class="row">
  <div class="offset-sm-4 col-sm-3 users-itiran">
    <h4 class="text-center mb-4 mt-3">ユーザー一覧</h4>
    <%= render 'users', users: @users %>
    <%= link_to '戻る', root_url %>
  </div>
  
</div>