<div class="row">
    <div class="offset-sm-3 col-sm-3">
    　<div>
    　 <h5>いいね一覧</h5>
    　</div>
      <%= render 'users/users', users: @likers %>
      <%= link_to '戻る', @post %>
    </div>
</div>