<div class="row search-tate">
  <div class="offset-sm-4 col-sm-3">　　
　　<div class="mt-5">
      <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, class: "search-input" %>
        <%= form.submit "再検索", class: "search-btn" %>
      <% end %>
    </div>
　　<p class="mb-0">検索結果:</p>
　　<table class="table table-striped">
　　  <% @posts.each do |post| %>
　　  <tr>
　　    <td><%= link_to post.title, post_path(post) %></td>
　　  </tr>
　　  <% end %>
　　</table>
　</div>
</div>