// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";

.pict {
    width: 200px;
    height: 200px;
}

.picture {
    width: 40px;
    height: 40px;
}

.futi {
    border-radius: 30px;
    border: 1px solid black;
}

.likers-tate {
    height: 600px;
    
}


.kiji-waku {
    padding: 20px 40px 30px 30px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: white;
    
}

.dropdown-edit, .dropdown-delete {
    margin: 0;
    padding: 3px;
}



.title-layout {
    padding: 20px 30px 40px 30px;
    margin-left: 20px;
}

.content-layout {
    padding: 10px 30px 30px 30px;
    margin-left: 20px;
}

.titleee {
    margin: 0;
    padding-left: 20px;
}


.contenttt {
    margin-bottom: 0;
    padding-left: 20px;
}

.kiji-sotowaku {
    padding-bottom: 50px;
    padding-top: 20px;
}

.kiji-henshuu-sotowaku {
    padding-bottom: 50px;
    padding-top: 20px;
}



.pagi {
    margin-left: 70px;
}

.comments-waku {
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 7px;
}

.nyuuryokuran {
    text-align: center;
}