// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";

.pict {
    width: 200px;
    height: 200px;
}

.picture {
    width: 40px;
    height: 40px;
}

.futi {
    padding: 1px;
    border: 1px solid black;
}

.likers-tate {
    height: 600px;
    
}

.like-sotowaku {
    padding: 3px;
    border: 2px solid green;
    text-align: center;
    border-radius: 10px;
    
}

.kiji-waku {
    padding: 20px 40px 40px 30px;
    border: 2px solid black;
}

.title-layout {
    padding: 10px;
}

.content-layout {
    padding: 10px;
}

.titleee {
    margin: 0;
}


.contenttt {
    margin-bottom: 0;
}

.kiji-sotowaku {
    padding-bottom: 50px;
}

.kiji-henshuu-sotowaku {
    padding-bottom: 50px;
}