// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";


.picc {
    width: 50px;
    height: 50px;
    
    border-radius: 30px; 
}



.top-photo {
   display: inline-block;
   margin: 0;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}



.card-header .daimei {
    padding: 0;
}

.dai {
    text-align: center;
    margin: 0 auto;
}

.dai p {
    margin: 0;
}

.card-body ul li p a:hover {
    color: blue;
    
}

.pro-tag {
  padding: 15px 0;
  border: 2px solid green;
  border-radius: 20px;
  background-color: snow;
}

.mypage, .usearch, .kijisakusei {
  color: #333333;
  font-size: 25px;
  font-weight: 600;
  
}

.ibig {
  color: #333333;
  font-size: 30px;
  margin-right: 10px;
}

.time-line {
  border-right: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  margin-top: 0;

}


.news-contents ul {
  margin: 0 0 0 10px;
  padding: 0;
}

.toppages-height {
    height: 650px;
}