// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";


.picc {
    width: 130px;
    hight: 130px;
}

.botan {
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
}