// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";

.pic {
    width: 210px;
    height: 210px;
}

.pi {
     width: 40px;
     height: 40px;
     margin-right: 10px;
}

ul li a {
    color: black;
}

ul li a:hover {
    color: #999999;
}

.users-waku {
    padding-bottom: 150px;
}

.sign-up {
    padding-bottom: 110px;
}

.users-itiran {
    padding-bottom: 300px;
}

